.console {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background: rgba(0,0,0,0.9);
  color: #eee;
  opacity: 0;
  display: none;
  transition: opacity 0.3s;
  margin: 0;
}
.console.visible {
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.buttonHide {
  float: right;
  padding: 5px 10px;
}
